framework: net452

source https://www.nuget.org/api/v2/

nuget FSharp.Core
nuget System.ValueTuple

nuget Castle.Core
nuget Castle.Windsor
nuget Castle.LoggingFacility
nuget Castle.Core-log4net
nuget System.Data.SQLite.Core
nuget FSharp.Data
nuget FSharp.Data.Xsd

nuget dbup

nuget Foq
nuget xunit
nuget xunit.assert
nuget xunit.core
nuget xunit.runner.console 
nuget xunit.runner.visualstudio
